html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100%;
}

/* 移除所有router-link和a标签的下划线 */
a, 
router-link, 
a:hover, 
a:visited, 
a:active {
  text-decoration: none !important;
}